/ffmpeg/
*/__pycache__/
__pycache__/
__pycache__/
conda311/
conda311/*
conda312/
conda312/*
build/
/dist/
*.spec
account/
.continue/
MessageHistory/*
log/
config/server_config.py
packinfo.json
log/*
/photo_album/*
/photo_album_mobile/*
/cache/
/PhotoAlbum/*
/PhotoAlbum_mobile/*
launcher/.launcher.json
DragonServer*.exe
launcher*.exe
aa.rm
output.mp4
.vscode/
done_task.json
traffic_data.json
src/templates/index.html
leftDesc/*
rightDesc/*
